<!--<section>
  <div class="container">
    <h1 class="text-center mt-5">Bienvenue sur APP_ING3_CHAT</h1>
    <p class="lead text-center">
      APP_ING3_CHAT est une application de messagerie simple et intuitive qui vous permet de rester connecté avec vos amis et votre famille à tout moment.
    </p>
    <div class="row justify-content-center">
    </div>
  </div>
</section>-->

<section class="bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-md-5 text-center">
        <p><img src="{{image}}" alt="image inexistante" width="300" height="300" ></p>
        <h1 class="display-4">Bienvenue sur APP_ING3_CHAT</h1>
        <p class="lead">APP_ING3_CHAT est une application de messagerie simple et intuitive qui vous permet de rester connecté avec vos amis et votre famille à tout moment.</p>
        <a routerLink="/connexion" class="btn btn-primary btn-lg">Commencer</a>
        </div>
    </div>
  </div>
</section>



