

<section>
  <div class="container">
          <div class="card-body">
            <h1 class="text-center mb-4">Bienvenue sur APP_ING3_CHAT</h1>
            <form>
              <div class="mb-3">
                <label for="id" class="form-label">Nom</label>
                <input type="email" class="form-control" id="id" name="name" placeholder="Entrez votre Nom">
              </div>
              <div class="mb-3">
                <label for="id" class="form-label">Prenom</label>
                <input type="email" class="form-control" id="id" name="first_name" placeholder="Entrez votre Prenom">
              </div>
              <div class="mb-3">
                <label for="id" class="form-label">Email</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="Entrez votre adresse e-mail">
              </div>
              <div class="mb-3">
                <label for="mdp" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="mdp" name="mdp" placeholder="Entrez votre mot de passe">
          </div>
          <div  class="nav-item" class="d-flex justify-content-center align-items-center mt-3" style="min-height: 15vh;">
            <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
            <button routerLink="/connexion" class="btn btn-primary btn-block">Retour</button>
        </div>
        
           </form>
            
         </div>
  </div>
</section>