.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > h1 {
    max-width: max(70%, 10em);;
    color: var(--secondary-text);
  }

  > span {
    margin: 0.2em;
    color: var(--main-text);
  }

}

