<!--<section>
    <h1>LES UTILISATEURS INSCRITS :</h1>
    <h3>N'hésitez pas à les rejoindre !</h3>
    
   Ajout d'une balise Angular (ng-container) pour englober les balises Angular 
    <ng-container *ngIf="true"> 
        <fieldset >
            <input
                name="filtre"
                [(ngModel)]="filtre"
                placeholder="Filtrer les événements"
            />
        </fieldset>  
    </ng-container>
-->
<section>
    <table>
        <thead>
            <tr>
                <th>Noms :</th>
                
            </tr>
        </thead>
        <tbody>
            <!--<tr class="filter"  *ngFor="let u of filtrerUtilisateurs(); let i=index">
                <td>{{ u.name }}</td>
                
            </tr>-->
        </tbody>
    </table>
</section>

